* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    margin: 1rem auto;
    width: 100%;
}

button {
    background-color: #fff;
    border: none;
	border-radius:30px;
	cursor:pointer;
	color:#000;
	font-family:Arial;
	font-size:20px;
	padding:2px 8px;
    margin-left: 10px;
}

button:hover {
    background-color: #c40000;
    color: #fff;
}

.header {
    text-align: center;
    background: -webkit-linear-gradient(top left, #08CE63, #5A47D9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    max-width: 1000px;
    height: 100%;
    margin: 20px auto;
    padding: 20px;
    border-style: solid;
    border-width: 10px;
    border-image: -webkit-linear-gradient(top left, #08CE63, #5A47D9) 1;
}

.task-container {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 5px auto;
    padding: 10px;
    border: 3px solid #000;
    border-radius: 5px;
}

input {
    width: 300px;
    height: 50px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 8px;
    border-width: 0 0 2px;
}

input::placeholder {
    color: #000;
}

input:focus {
    outline: none;
}

.addBtn {
    background-color:#005eff;
	border-radius:14px;
	border:1px solid #0040ff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size: 28px;
	padding:8px 15px;
    margin-left: 10px;
	text-decoration:none;
}

.addBtn:hover {
    background-color: #1f5dc9;
}

.random-container {
    display: flex;
    width: 45%;
    padding: 10px;
    margin: 5px auto;
    border: 3px solid #005eff;
    border-radius: 5px;
}

.randomBtn {
    background-color: #3D94F6;
    border: none;
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
    cursor: pointer;
    width: 135px;
    height: 68px;
    margin-top: 70px;
}

.randomBtn:hover {
    background-color: #1f62af;
}

ul {
    margin: 10px;
    list-style-type: circle;
}

li {
    margin: 5px auto 5px 20px;
}

.delete {
    display: none;
}